* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  line-height: 64px;
  color: #222;
}

h6 {
  font-weight: 700px;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b24;
  margin: 15px 0 20px 0;
}
button.normal {
  font-size: 26px;
  font-weight: 200;
  padding: 8px 24px;
  color: #fff;
  background-color: rgb(246, 168, 181);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;

  /* border-radius: 25px; */
  transition: 0.2s ease;
}
.section-p1 {
  padding: 40px 80px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  width: 100%;
  gap: 3rem;
  max-height: 320px;

  object-fit: cover;
}
body {
  width: 100%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #f2efe6;
  /* position: fixed; */
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.nav-img {
  width: 15%;
  /* background-size: cover; */
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#navbar li {
  list-style: none;
}
#navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  position: relative;
}
#navbar li a:hover {
  color: rgb(232, 137, 169);
}
#navbar li a:hover::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: rgb(232, 137, 169);
  position: absolute;
  bottom: -4px;
  left: 3px;
}
.section-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* height: 84vh; */
  padding: 0px 80px;

  overflow: hidden;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.image {
  /* background-size: cover; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.left-content p {
  color: #222;

  text-align: start;
  font-family: cursive;
  font-size: 1.6rem;
}
.left-heading {
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(246, 168, 181);
}
.left-para {
  text-align: start;
}
.mainbtn {
  width: 50%;
  height: 6rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--textColor);
  background-color: rgb(246, 168, 181);
  border: none;
  box-shadow: rgba(235, 231, 234, 0.8);
  border-radius: 25px;
}
.mainbtn:hover {
  color: white;
  background-color: palevioletred;
}

#feature .fe-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  padding: 15px;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.03);
}
#feature .fe-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#feature .fe-box .hbtn {
  width: 100%;
  height: 2rem;
  line-height: 1;
  border-radius: 4px;
  color: rgba(235, 231, 234, 0.8);
  background-color: palevioletred;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  justify-content: center;
}
#feature .fe-box:nth-child(2) .hbtn {
  background-color: #e3873d;
}

#feature .fe-box:nth-child(3) .hbtn {
  background-color: #546c54bc;
}

#feature .fe-box:nth-child(4) .hbtn {
  background-color: #9ea751;
}

#feature .fe-box:nth-child(5) .nbtn {
  background-color: #9e94df;
}
#feature .fe-box:nth-child(6) .hbtn {
  background-color: #d0737c;
}

#product1 {
  text-align: center;
  padding: 40px 80px;
  gap: 1.4rem;
  display: flex;

  flex-direction: column;
}
.pro-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pro-container .pro {
  width: 23%;
  /* height: 80%; */
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid#cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background-color: #f2efe6;
}
.pro-container .pro :hover {
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro-container .pro img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 20px;
}
.pro-container .pro .des {
  text-align: start;
}
.pro-container.pro .des span {
  color: #606063;
  font-size: 12px;
}
.pro-container .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.pro-container .pro .des .star {
  padding-top: 7px;
  color: #dab822;
  font-size: 12px;
}
.hcart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.pro-container .pro .des h4 {
  font-size: 16px;
  font-weight: 700;
  color: palevioletred;
}

.pro-container .pro .icart {
  width: 30px;
  height: 30px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(248, 217, 227);
  font-weight: 200;
  color: palevioletred;
  border: 1px solid #f5a8e4;
  position: absolute;
  bottom: 30px;
  right: 10px;
}

#banner {
  width: 100%;
  height: 40vh;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url("image/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #555454;
  font-size: 16px;
}
#banner h2 {
  color: #646262;
  font-size: 30px;
}
#banner h2 span {
  color: palevioletred;
  font-size: 30px;
}
#banner button:hover {
  background-color: palevioletred;
  color: white;
}
#smbanner {
  height: 100vh;
}

#sm-banner .banner-box {
  min-width: 580px;
  width: 100%;
  height: 50vh;
  display: flex;

  justify-content: center;
  align-items: flex-start;
  padding-left: 2.2rem;
  flex-direction: column;
  text-align: center;
  background: url("image/bannerimg2.webp");
  background-size: cover;
  background-position: center;
}
#sm-banner h4 {
  color: rgb(15, 13, 13);
  font-size: 16px;
  height: 42px;
  font-weight: 800;
}
#sm-banner h2 {
  color: rgb(28, 26, 26);
  font-size: 30px;
}
#sm-banner span {
  color: rgb(21, 18, 19);
  font-size: 20px;
}
button.white {
  margin-top: 2rem;
  font-size: 24px;
  font-weight: 500;
  padding: 5px 14px;
  color: #282121;
  background-color: rgb(206, 137, 154);
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  background-color: transparent;

  transition: 0.2s ease;
}
#sm-banner button:hover {
  background-color: palevioletred;
  color: white;
}
#sm-banner .banner-box:hover button {
  background-color: palevioletred;
  border: 2px solid rgb(242, 139, 139);
}
#sm-banner .banner-box2 {
  background: url("image/bannerimg.webp");
}
#banner3 {
  /* height: 100vh; */
  width: 100%;
  margin-top: 12rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  min-width: 30%;
  width: 100%;
  height: 30vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: 2.2rem; */
  flex-direction: column;
  text-align: center;
  background: url("image/banner1.webp");
  background-size: cover;
  background-position: center;
}
#banner3 h2 {
  color: white;
  font-weight: 700;
  font-size: 22px;
}
#banner3 h3 {
  color: rgb(219, 18, 18);
  font-weight: 800;
  font-size: 15px;
}

#banner3 .bannerbox2 {
  background: url("image/banner2.jpg");
  background-size: cover;
}
#banner3 .bannerbox3 {
  background: url("image/banner3.jpg");
  background-size: cover;
  text-align: start;

  white-space: nowrap;
}
#newsletter {
  margin: 3rem 0 2rem 0;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(208, 136, 136),
    rgb(171, 94, 113),
    rgb(223, 198, 182),
    rgb(204, 78, 124)
  );
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 18px;
  font-weight: 600;
  color: #464849;
}
#newsletter p span {
  color: #5a0310;
}
#newsletter input {
  height: 2.925rem;
  padding: 0 1.24em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter button {
  background-color: rgb(158, 96, 117);
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter button:hover {
  background-color: rgb(133, 38, 70);
}
#lower {
  background-color: #f2efe6;
  max-height: 100vh;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  padding: 8px;
}
