* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  line-height: 64px;
  color: #222;
}

h6 {
  font-weight: 700px;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b24;
  margin: 15px 0 20px 0;
}
button.normal {
  font-size: 26px;
  font-weight: 200;
  padding: 8px 24px;
  color: #fff;
  background-color: rgb(246, 168, 181);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;

  /* border-radius: 25px; */
  transition: 0.2s ease;
}
.section-p1 {
  padding: 40px 80px;
  display: flex;

  flex-direction: row;
  width: 100%;
  gap: 1rem;
  /* max-height: 320px; */

  object-fit: cover;
}
/* body {
  width: 100%;
} */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: #f2efe6;

  /* width: 100%; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.nav-img {
  width: 15%;
  /* background-size: cover; */
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#navbar li {
  list-style: none;
}
#navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  position: relative;
}
#navbar li a:hover {
  color: rgb(232, 137, 169);
}
#navbar li a:hover::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: rgb(232, 137, 169);
  position: absolute;
  bottom: -4px;
  left: 3px;
}
#close {
  display: none;
}
#mobile {
  display: none;
  align-items: center;
}
#mobile a,
#bar {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
}
#mobile li a,
#bar:hover {
  color: rgb(232, 137, 169);
}

.section-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* height: 84vh; */
  padding: 0px 80px;
  /* width: 100%; */

  overflow: hidden;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.image {
  /* background-size: cover; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.left-content p {
  color: #222;

  text-align: start;
  font-family: cursive;
  font-size: 1.6rem;
}
.left-heading {
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(246, 168, 181);
}
.left-para {
  text-align: start;
}
.mainbtn {
  width: 50%;
  height: 6rem;
  font-size: 1rem;
  cursor: pointer;
  color: var(--textColor);
  background-color: rgb(246, 168, 181);
  border: none;
  box-shadow: rgba(235, 231, 234, 0.8);
  border-radius: 25px;
}
.mainbtn:hover {
  color: white;
  background-color: palevioletred;
}

#feature .fe-box {
  width: 100%;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  gap: 15px;

  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  padding: 15px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.03);
}

#feature .fe-box img {
  object-fit: cover;

  width: 100%;

  height: 100%;
}

#feature .fe-box .hbtn {
  width: 100%;
  height: 2rem;
  line-height: 1;
  border-radius: 4px;
  color: rgba(235, 231, 234, 0.8);
  background-color: palevioletred;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  justify-content: center;
}
#feature .fe-box:nth-child(2) .hbtn {
  background-color: #e3873d;
}

#feature .fe-box:nth-child(3) .hbtn {
  background-color: #546c54bc;
}

#feature .fe-box:nth-child(4) .hbtn {
  background-color: #9ea751;
}

#feature .fe-box:nth-child(5) .nbtn {
  background-color: #9e94df;
}
#feature .fe-box:nth-child(6) .hbtn {
  background-color: #d0737c;
}

#product1 {
  text-align: center;
  padding: 40px 80px;
  gap: 1.4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.pro-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pro-container .pro {
  width: 23%;
  /* height: 80%; */
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid#cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background-color: #f2efe6;
}
.pro-container .pro :hover {
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro-container .pro img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 20px;
}
.pro-container .pro .des {
  text-align: start;
}
.pro-container.pro .des span {
  color: #606063;
  font-size: 12px;
}
.pro-container .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
.pro-container .pro .des .star {
  padding-top: 7px;
  color: #dab822;
  font-size: 12px;
}
.hcart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.pro-container .pro .des h4 {
  font-size: 16px;
  font-weight: 700;
  color: palevioletred;
}

.pro-container .pro .icart {
  width: 30px;
  height: 30px;
  line-height: 40px;
  border-radius: 50px;
  background-color: rgb(248, 217, 227);
  font-weight: 200;
  color: palevioletred;
  border: 1px solid #f5a8e4;
  position: absolute;
  bottom: 30px;
  right: 10px;
}

#banner {
  width: 100%;
  height: 40vh;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: url("image/banner.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #555454;
  font-size: 16px;
}
#banner h2 {
  color: #646262;
  font-size: 30px;
}
#banner h2 span {
  color: palevioletred;
  font-size: 30px;
}
#banner button:hover {
  background-color: palevioletred;
  color: white;
}
#smbanner {
  height: 100vh;
}

#sm-banner .banner-box {
  min-width: 580px;

  width: 100%;

  height: 50vh;

  display: flex;

  justify-content: center;

  align-items: flex-start;

  padding-left: 2.2rem;

  flex-direction: column;

  text-align: center;

  background: url("image/bannerimg2.webp");

  background-size: cover;

  background-position: center;
}

#sm-banner h4 {
  color: rgb(15, 13, 13);
  font-size: 16px;
  height: 42px;
  font-weight: 800;
}
#sm-banner h2 {
  color: rgb(28, 26, 26);
  font-size: 30px;
}
#sm-banner span {
  color: rgb(21, 18, 19);
  font-size: 20px;
}
button.white {
  margin-top: 2rem;
  font-size: 24px;
  font-weight: 500;
  padding: 5px 14px;
  color: #282121;
  background-color: rgb(206, 137, 154);
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  background-color: transparent;

  transition: 0.2s ease;
}
#sm-banner button:hover {
  background-color: palevioletred;
  color: white;
}
#sm-banner .banner-box:hover button {
  background-color: palevioletred;
  border: 2px solid rgb(242, 139, 139);
}
#sm-banner .banner-box2 {
  background: url("image/bannerimg.webp");
}
#banner3 {
  /* height: 100vh; */
  width: 100%;
  margin-top: 12rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap; */
  padding: 0 80px;
  object-fit: cover;
}
#banner3 .banner-box {
  min-width: 30%;
  width: 100%;
  height: 30vh;
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
  /* padding-left: 2.2rem; */
  flex-direction: column;
  text-align: center;
  background: url("image/banner1.webp");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#banner3 h2 {
  color: white;
  font-weight: 700;
  font-size: 22px;
  overflow-wrap: anywhere !important;
}
#banner3 h3 {
  color: rgb(219, 18, 18);
  font-weight: 800;
  font-size: 15px;
  overflow-wrap: anywhere !important;
}

#banner3 .bannerbox2 {
  background: url("image/banner2.jpg");
  background-size: cover;
}
#banner3 .bannerbox3 {
  background: url("image/banner3.jpg");
  background-size: cover;
  text-align: start;

  white-space: nowrap;
}
#newsletter {
  margin: 3rem 0 2rem 0;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(208, 136, 136),
    rgb(171, 94, 113),
    rgb(223, 198, 182),
    rgb(204, 78, 124)
  );
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 18px;
  font-weight: 600;
  color: #464849;
}
#newsletter p span {
  color: #5a0310;
}
#newsletter input {
  height: 2.925rem;
  padding: 0 1.24em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter button {
  background-color: rgb(158, 96, 117);
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter button:hover {
  background-color: rgb(133, 38, 70);
}
#lower {
  background-color: #f2efe6;
  height: auto;
  font-size: 1px;
  /* display: grid; */
  /* width: 100%; */
  /* grid-template-columns: 2fr 1fr 1fr 1fr; */
  /* padding: 0 80px; */
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 70%;
}
footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  padding: 8px;
}
#lower .col p {
  font-size: 14px;
  font-weight: 500;
}

#lower .icon {
  font-size: 1rem;
}

/* shop page */
#page-header {
  background-image: url("image/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h1,
p {
  color: #3e3737;
}
#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pagination a {
  text-decoration: none;
  background-color: rgb(158, 96, 117);
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* single product */
#prodetails {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  gap: 5rem;
  padding: 40px 26px;
}
#prodetails img {
  max-width: 100%;

  display: block;
}
.single-pro-image {
  margin-left: 4rem;
}
.small-img-group {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.small-img-col {
  flex: 1;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  object-fit: cover;
}

.small-img {
  width: 100%;
  display: block;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 2rem;
}
#prodetails .single-pro-details h4 {
}
#prodetails .single-pro-details h2 {
  font-size: 28px;
}
#prodetails .single-pro-details select {
  display: block;
  width: 6rem;
  height: 2rem;
  border: 2px solid black;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input :focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background-color: rgb(158, 96, 117);
}
#prodetails .single-pro-details span {
  line-height: 25px;
}
/* blog page */
.blog-header {
  background-image: url("/image/blog/blogimg.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  background-attachment: fixed;
}
.blog-header h1,
p {
  color: #290707;
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details,
h4 {
  color: rgb(158, 96, 117);
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #1a1a1a;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover::after {
  background-color: rgb(158, 96, 117);
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

/* about-part */
.about-header {
  background-image: url("/image/about/about.avif");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
  background-attachment: fixed;
}
#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
}
#about-head div {
  padding-left: 40px;
}
#about-app {
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border: 5px solid #000;
  border-radius: 20px;
}

/* contact page */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;

  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details p {
  font-size: 14px;
  margin: 0;
}
#contact-details .map {
  width: 55%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 80px;
  height: auto;
  width: 100%;
  border: 1px solid#e1e1e1;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  outline: none;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 2px solid rgb(206, 165, 179);
}
#form-details form button {
  background-color: palevioletred;
  color: #fff;
  height: 3rem;
  width: 8rem;
}
#form-details .people div {
  padding-bottom: 25px;
  margin-right: 15px;
}
.people div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.people div {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
#form-details .people div P {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div P span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

@media (max-width: 799px) {
  #header {
    width: 100%;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed !important;
    top: 0;
    right: -100%;
    height: 100dvh;
    width: 300px;
    gap: 25px;
    background-color: #f91515;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 120px 0 0 10px;
    transition: 0.3s;
    z-index: 1000;
    border: 1px solid red;
  }
  #navbar.active {
    right: 0px;
  }
  #mobile {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 4rem;
    left: 6px;
    color: #222;
    font-size: 24px;
  }
  #cart-value {
    display: none;
  }
  .section-hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  .right {
    display: none;
  }
  .section-p1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
  #banner {
    width: 100%;
    height: 20vh;
  }
  #sm-banner {
    display: flex;
    flex-direction: column;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 20vh;
  }
  #newsletter {
    height: 30vh;

    margin: 3rem 0 2rem 0;

    align-items: center;
  }
  #newsletter .form {
    width: 70%;
    display: flex;
  }
  /* contact page */
  #contact-details {
    display: flex;
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
}
@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
  #section-hero {
    padding: 0 10px;
    background-position: 55%;
  }
  .right {
    display: none;
  }
  .left-content p {
    font-size: 0.8rem;
  }
  .left-heading {
    font-size: 0.8rem;
  }
  .left-para p {
    font-size: 14px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  .mainbtn {
    width: 50%;
    height: 3rem;
    font-size: 1rem;
  }
  #feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #feature .fe-box {
    width: 100%;
  }
  #product1 {
    padding: 0px 50px;
  }
  #product1 h2,
  p {
    font-size: 1.4rem;
  }
  #product1 p {
    font-size: 1rem;
    margin: 0 0 15px 0;
  }
  .pro-container {
    width: 100%;
  }
  .section-hero {
    padding: 0 20px;
    justify-content: center;
  }
  .pro {
    height: 50%;
  }
  #banner {
    height: 40vh;
    width: 100%;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
    font-size: 1rem;
  }
  #sm-banner .banner-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    text-align: start;

    padding-left: 0rem;
  }
  #sm-banner .banner-box,
  h4,
  h2,
  span {
    font-size: 8px;
    font-weight: 100;
  }
  #banner3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  #newsletter {
    height: 36vh;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
  }
  #newsletter .form {
    width: 100%;
  }
  .section-p1 {
    display: flex;
    font-size: 1px;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
  }
  /* single product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-left: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
  /* block page */
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0px;
  }
  #blog .blog-details {
    width: 100%;
  }
  #blog .blog-details,
  h4 {
    font-size: 20px;
    color: rgb(158, 96, 117);
  }
  /*About Page  */
  #about-head {
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-head h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  #about-app .video {
    width: 100%;
  }
  #form-details {
    display: none;
  }
  #form-details form {
    width: 100%;
  }
  #contact-details map {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
}
